body{
background: #FFFFFF;
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
height: 3335px;
width: 1920px;
}
a{
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
p{
    margin: 0;
    padding: 0;
}
.container1{
font-size: 34px;
background-image: url(bgc.png);
height: 800px;
}
.header{   
height: 90px; 
width: 100%;
border-bottom: 1px solid #FFFFFF;
}
.nav{
 width: 100%;
 height: 90px; 
 display: flex;
 justify-content: space-around;
 align-items: center;
 
}
.nav_item{
    display: block;
}   
.nav_list2, .nav_list3{
    display: flex
}
.nav_list2 li{
    padding: 0px 23.5px;
}
.nav_list2 li a, .nav_list3 li a{
    vertical-align: middle;
}
.nav_list3 li{
    margin-right: 35px;
}
.nav_list3{
    position: relative;
}

.nav_item a{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
color: white;
}
.nav_img{
height: 17.73px;
width: 20px;
}

.nav_list3 li:last-of-type::before{
   content: "";
   display: inline-block;
   background-image: url("Globe.png");
   height: 17.8px;
   width: 20px;
   margin-right:11px ;
}
.nav_list3 li:first-of-type{
    margin-right: 70px;
}
.container1_title{
position: absolute;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
color: white;
height: 224px;
width: 535px;
left: 403px;
top: 274px;
}
.container1_title p:first-of-type{
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
margin-top: 0;
height: 68px;
width: 533px;
margin-top: 35px;
}
.container1_title p:last-of-type{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}
h1{
text-transform: uppercase;
margin: 0;
padding: 0;
font-family: 'Source Sans Pro', sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: 102px;
letter-spacing: 0em;
text-align: left;
color: white;
height: 74px;
width: 420px;
}
h2{
font-family: 'Source Sans Pro', sans-serif;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 27px;
letter-spacing: -0.01em;
text-align: left;
color: white;

}
.container1_title img{
width: 16px;
margin-left: 10px;
}

.container1_blocks{
position: absolute;
width: 540px;
height: 353px;
left: 975px;
top: 394px;
display: flex;
flex-wrap: wrap;
}
.container1_blocks_item1{
background: #2378FC;
width: 255px;
height: 148px;
margin-right: 30px;
}
.container1_blocks_item2{
background: #30BCC9;
width: 255px;
height: 148px;  
}
.container1_blocks_item3{
background:#FFC41E;
height: 175px;
width: 255px;
margin-right: 30px;
}
.container1_blocks_item4{
background: #F6404F;
height: 175px;
width: 255px;
}
h2{
    margin: 0;
    padding: 0;
}
.container1_blocks_item1 div{
    padding: 30px 88px 0 40px;
}
.container1_blocks_item2 div{
    padding: 30px 40px 0 40px; 
}
.container1_blocks_item3 div{
    padding: 30px 61px 0 40px; 
}
.container1_blocks_item4 div{
    padding: 30px 40px 0 40px; 
}
.container1_blocks_item1 span{
font-size: 14px;
color: #FFFFFF;
vertical-align: middle;
}
.container1_blocks_item2 span{
font-size: 14px;
color: #FFFFFF;
vertical-align: middle;
}
.container1_blocks_item3 span{
    font-size: 14px;
    color: #FFFFFF;
    vertical-align: middle;
}
.container1_blocks_item4 span{
    font-size: 14px;
    color: #FFFFFF;
    vertical-align: middle;
}
.container1_blocks_item1 span::after{
    content: "";
    display: inline-block;
    background-image: url("Arrow 1.png");
    height: 14px;
    width: 16px;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-position: center center;
    vertical-align: middle; 
}
.container1_blocks_item2 span::after{
    content: "";
    display: inline-block;
    background-image: url("Arrow 1.png");
    height: 14px;
    width: 16px;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-position: center center;
    vertical-align: middle;   
} 
.container1_blocks_item3 span::after{
    content: "";
    display: inline-block;
    background-image: url("Arrow 1.png");
    height: 14px;
    width: 16px;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-position: center center;
    vertical-align: middle;  
}
.container1_blocks_item4 span::after{
    content: "";
    display: inline-block;
    background-image: url("Arrow 1.png");
    height: 14px;
    width: 16px;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-position: center center;
    vertical-align: middle;  
} 


.container2{
height: 426px;
width: 1920px;
background: #2378FC;
}
.container2_wrapper{
    display: flex;
    width: 1920px;
    padding: 0 405px;

    
}
.container2_wrapper h2{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 500;
font-size: 30px;
padding-bottom: 30px;
}
.container2_wrapper li{
font-size: 16px;
}
.container2_item{
margin-right: 120px;
margin-top: 75px;
}
.container2_item li{
padding-bottom: 15px;
}
.container2_item a:hover{
    color: #FFC41E;
    text-decoration: underline;
}
ul{
    margin: 0;
    padding: 0;
}
.container3{
    background: #FFC41E;
    width: 1920px;
    height: 984px;
}
.container3_wrapper{
    padding: 0 405px;
}
.container3_header{
    display: flex;
    justify-content: space-between;
}
.container3_header h2{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 500;
font-size: 30px;
color: #2E373B;
margin-top: 75px;
}
.container3_header span{
font-weight: 500;
font-size: 21px;
text-decoration-line: underline;
color: #2E373B;
margin-top: 75px;
}
.container3_header span a{
    color: #2E373B;
}
.container3_header span::after{
    content: "";
    display: inline-block;
    background-image: url("Arrow 2.png");
    height: 20px;
    width: 25px;
    background-repeat: no-repeat;
    margin-left: 15px;
    background-position: center center;
    vertical-align: middle;  
} 
.container3_blocks{
    display: flex;
    flex-wrap: wrap;
}
.container3_item{
    width: 350px;
    height: 348px;
    padding-top: 55px;
    padding-right: 30px;
}
#container3_last{
    padding-right: 0;
}
.container3_item span p:first-of-type{
font-size: 14px;
line-height: 135%;
color: #2E373B;
margin-top: 10px;
}
.container3_item h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    color: #F6404F;
    margin: 0;
    margin-top: 10px;
}
.container3_item span p:last-of-type{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 135%;
color: #2E373B;
margin-top: 10px;
}
#p_block_3{
font-size: 15px;
font-weight: 600;
}

.container4{
width: 1920px;
height: 649px;
background: #FAF3E3;
}
.container4_wrapper{
    padding: 0 405px; 
    display: flex;
    justify-content: space-between;
}
.container4_left_content{
    padding-top: 75px;
    width: 445px;
}
.container4_left_content img{
    width: 445px;
    height: 215px;
    margin: 0;
}
.container4_left_content img:last-of-type{
    padding-top: 59px;
}
.container4_right_content{
    padding-top: 75px;
    width: 530px;
}
.container4_right_content_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container4_right_content_header h2{
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 130%;
color: #2E373B;
}
.container4_right_content_header span a{
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 130%;
text-decoration-line: underline;
color: #2E373B;
}
.container4_right_content_header span::after{
    content: "";
    display: inline-block;
    background-image: url("Arrow 2.png");
    height: 20px;
    width: 25px;
    background-repeat: no-repeat;
    margin-left: 15px;
    background-position: center center;
    vertical-align: middle;  
} 
.container4_right_content_item{
    padding-top: 30px;
    display: flex;
}
.container4_right_content_item p{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 135%;
color: #F6404F;
padding-top: 15px;
}
.container4_right_content_item h3{
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 130%;
color: #2E373B;
padding-top: 14px;
margin: 0;
}
.container4_right_content_item span{
    padding-left: 30px;
}

.footer{
height: 476px;
width: 1920px;
background: #30BCC9;
}
.footer_wrapper{
    padding: 0 405px; 
    display: flex;
    justify-content: space-between;
}
.footer_left_content{
    padding-top: 60px;
    width: 855px;
    display: flex;
    flex-wrap: wrap;
}
.footer_left_content_item{
width: 230px;
height: 140px;
margin-right: 68px;
margin-bottom: 50px;
}
.footer_left_content_item li{
    padding-bottom: 10px;
}
.footer_left_content_item h3{
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 130%;
color: #FFFFFF;
margin-bottom: 15px;
}
.footer_right_content_item h3{
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 130%;
color: #FFFFFF;
}
.footer_left_content_item a{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 135%;
color: #E0E0E0;
}
h3{
    margin: 0;
}
.footer_right_content{
padding-top: 60px; 
width: 280px;
height: 227px;
}
.footer_left_content_item img{
height: 50px;
width: 157px;
padding-bottom: 16px;
}
#footer_left_content_item_third{
    margin-right: 0;
}
.footer_left_content_item:last-of-type{
    margin-right: 0;
}
.footer_left_content_item a:hover{
    color: #FFC41E;
    text-decoration: underline;
    
}
.footer_right_content_item img{
    padding-top: 20px;
    padding-right: 35px;
}
.footer_right_content_item img:last-of-type{
    padding-right: 0;
}
.footer_right_content_item_form{
    margin-top: 50px;
}
.footer_right_content_item_form h3{
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 130%;
color: #FFFFFF;
}
.footer_right_content_item_form p{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 135%;
color: #E0E0E0;
margin-top:15px ;
}
.footer_right_content_item_form form{
    margin-top: 25px;
}
.footer_right_content_item_form form input:first-child{
    width: 215px;
    height: 40px;
    border: none;
    outline: none;
}
.footer_right_content_item_form form input:last-child{
    display: inline-block;
    width: 40px;
    height: 42px;
    border: none;
    vertical-align: bottom;
    outline: none;
    background: url(submit.png) no-repeat center center;;
    background-size: 18px 18px;
    background-color:#F6404F; ;


}
.footer_right_content_item_form input[type="text"]{
    padding-left: 12px;
}
